.profile {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 45rem;
  padding: 1rem 3rem;
  margin: 0 1rem 0 0;
  background-color: var(--moonstone);
  border-radius: 3rem;
  color: var(--seasalt);
  align-items: center;
}

.profile h3 {
  margin: 0.5rem 0;
}

.profile .picture {
  width: 10rem;
  height: 10rem;
  background-color: var(--dim-grey);
  border-radius: 100%;
  margin: 1rem 0;
}

.profile img {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 0;
}

.profile .info {
  width: 100%;
  padding: 1rem 0;
}

.profile .info .cell {
  display: flex;
  margin: 0.5rem 0;
}

.profile .activities {
  display: flex;
  flex-direction: column;
  margin: 2rem 0 0 0;
  align-items: center;
}

.profile .edit {
  padding: 0.5rem 5rem;
  margin: auto 0 0 0;
  border-radius: 0.25rem;
  background-color: var(--melon);
  font-weight: bold;
}

.profile label {
  color: var(--charcoal);
}

.profile input {
  padding: 0 0.25rem;
  margin: 0.25rem 0;
  font-size: 1.25rem;
}

.profile .save-btn {
  padding: 10px 20px;
  background-color: #389160;
  color: var(--seasalt);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.profile .save-btn:hover {
  background-color: var(--charcoal) !important;
}

.profile .cancel-btn {
  padding: 10px 20px;
  background-color: #913841;
  color: var(--seasalt);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 5px;
}

.profile .cancel-btn:hover {
  background-color: var(--charcoal) !important;
}