.profile {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 45rem;
  padding: 1rem 3rem;
  margin: 0 1rem 0 0;
  background-color: var(--moonstone);
  border-radius: 3rem;
  color: var(--seasalt);
  align-items: center;
}

.profile h3 {
  margin: 0.5rem 0;
}

.profile .picture {
  width: 10rem;
  height: 10rem;
  background-color: var(--dim-grey);
  border-radius: 100%;
  margin: 1rem 0;
}

.profile img {
  width: 2rem;
  height: 2rem;
  margin: 0 1rem 0 0;
}

.profile .info {
  width: 100%;
  padding: 1rem 0;
}

.profile .info .cell {
  display: flex;
  margin: 0.5rem 0;
}