:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: var(--charcoal);
  background-color: var(--seasalt);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --charcoal: #373F51;
  --platinum: #D8DBE2;
  --seasalt: #FAF9F9;

  --dim-grey: #776871;
  --ash-grey: #91A8A4;

  --moonstone: #58A4B0;
  --powder-blue: #A9BCD0;
  --columbia-blue: #C4D7F2;

  --melon: #DAA49A;
}
